.header {
  /* background-color: var(--main-color); */
  background: linear-gradient(96deg, rgba(146, 202, 213, 1) 30%, rgba(80, 147, 160, 1) 100%);
  padding: 1rem;
  height: 100vh;
  color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

.header>* {
  color: #454545;
}

.header.header_light>* {
  color: #ffffff;
}

.header_light {
  background: linear-gradient(96deg, rgba(80, 147, 160, 1) 30%, rgba(146, 202, 213, 1) 100%);

}

.header h1 {
  font-size: 4rem;
  font-family: 'Sansita Swashed', cursive;
  ;
}

.header h2 {
  font-size: 2rem;
}

.header h1,
.header h2,
.header button {
  margin: 1rem 0;
}

.dynamicSentences {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  animation: fade-in .5s cubic-bezier(.25, 0.25, 1) 150ms 1 alternate both;
}

.dynamicSentences h2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.dynamicSentences svg {
  cursor: pointer;
}

.dynamicSentences svg:hover {
  color: white;
  transform: scale(1.1);
  transition: all .5s ease;
}

.socials,
.socialsLight {
  display: flex;
  gap: 10px;
}

.socialsLight a:hover,
.socials a:hover {
  transform: scale(1.2);
  transition: all 0.25s ease;
}

.socials a:hover {
  color: white;
}

.socialsLight a:hover {
  color: var(--card-color);
}

.socials hr,
.socialsLight hr {
  flex-grow: 2;
  border: 0;
  height: 2px;
}

.main {
  min-height: 100vh;
  /*  padding: 4rem 1rem; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  transition: background-color ease-in-out 300ms;
  color: white;
}

.main.main_light {
  background-color: #ffffff;
  transition: all ease-in-out 300ms;
}

.main.main_light h2,
.main.main_light h3 {
  color: var(--background-color);
}

.main.main_light hr {
  border-color: var(--background-color);
}

.project {
  opacity: 0;
  transform: translateX(-150px);
}

.projectsWrapper {
  width: 90%;
}

.projects {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.filterButton {
  font-weight: 600;
  border: 2px solid var(--card-color);
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
}

.filterButton:hover {
  background-color: rgb(50, 50, 50);
}

.filterButtonLight:hover {
  background-color: rgb(50, 50, 50);
  color: white;
}

.filterButtonLight {
  font-weight: 600;
  border: 2px solid var(--card-color);
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--card-color);
}

.filterButton_selected {
  font-weight: 600;
  background-color: var(--card-color);
  border: 2px solid var(--card-color);
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  transition: all .5s ease;
}

.courseWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.courseWrapper>div:first-child {
  border-radius: 0 5px 5px 0;
}

.courseWrapper div:last-child {
  border-radius: 5px 0 0 5px;
  align-self: flex-end;
}

.courseSection {
  display: flex;
  gap: 10px;
  width: 90%;
  align-items: stretch;
  background: var(--card-color);
  opacity: 0;
  transition: 1s all ease;
}

.courseSectionLeft {
  transform: translateX(-150px);
}

.courseSectionRight {
  transform: translateX(150px);
}



.courseSectionLight {
  background: var(--main-color);
  display: flex;
  gap: 10px;
  width: 90%;
  align-items: stretch;
  opacity: 0;
  transition: 1s all ease;
}

.active {
  transform: translateX(0);
  opacity: 1;
}

.course {

  /* background-color: var(--card-color); */
  padding: 20px;
  width: 50%;

}

.courseTitle {
  font-weight: 600;
}

.courseLight {
  /*  border-radius: 10px; */
  /*  background-color: var(--main-color); */
  padding: 20px;
  color: var(--card-color);
}

.courseHr {
  width: 20%;
  margin-left: 0;
}

.courseHrLight {
  width: 20%;
  margin-left: 0;
  border-color: white;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skills_section {
  width: 100%;
}

.about {
  padding: var(--padding);
  width: 100%;
}

.aboutContent {
  width: 90%;
  margin: auto;
}

.about p,
.about p>* {
  margin: 1rem 0;
}

.about ul {
  list-style-type: none;
}

.about.about_light {
  color: var(--background-color);
}

.contact {
  width: 100%;
}

@keyframes fade-in {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 576px) {
  .header h1 {
    font-size: 3rem;
  }

  .courseSection,
  .courseSectionLight {
    flex-direction: column;
  }

  .course {
    width: 100%;
  }
}